@page
@model IT_WEB_23_63_0055_K.H.S.D.Hettiarachchi_Q2.Pages.Students_Info.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Student_Info</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Student_Info.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student_Info.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Student_Info.City)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student_Info.City)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Student_Info.Course_Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student_Info.Course_Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Student_Info.Student_Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
