@page
@model IT_WEB_23_63_0055_K.H.S.D.Hettiarachchi_Q2.Pages.Students.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1 class="First_Text">Students Informatiom</h1>

<p>
    <a asp-page="Create"><h3 class="Topic1">Create New</h3></a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Students_InformationNew[0].Student_No)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Students_InformationNew[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Students_InformationNew[0].City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Students_InformationNew[0].Course_Id)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Students_InformationNew) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Student_No)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Course_Id)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
